<template name="todo">
  	{{#if mode "hide"}}
	    	<button class="opop" type="button">afficher la todolist</button>
  	{{/if}}

  {{#if mode "new"}}
	<form id="form_add_todo" role="form">
	    <p><input type="text" name="title" value="" placeholder="title"></p>
	    <p><textarea name="content" rows="8" cols="40" placeholder="content"></textarea></p>
	    <p>
	    <input class="btn btn-primary" type="submit" value="enregistrer">
	    <input type="button" class="close" value="annuler">
	    </p>
	</form>
  {{/if}}
  
  {{#if mode "up"}}
	  <form id="form_up_todo" role="form">
	    <p><input type="text" name="title" value="{{form.title}}" placeholder="title"></p>
	    <p><textarea name="content" rows="8" cols="40" placeholder="content">{{form.content}}</textarea></p>
	    <p>
			<input type="hidden" name="id" value="{{form._id}}">
		    <input type="submit" value="enregistrer">
		    <input type="button" class="close" value="annuler">
	    </p>
	  </form>
  {{/if}}

  {{#each todoAll}}
    {{>todos}}
		<input type="button" class="suppr" name="suppr" value="delete" data-id={{_id}}>
		<input type="button" class="upda" name="upda" value="update" data-id={{_id}}>
  {{/each}}
</template>
