<template name="mainLayout">
	<h1>Wee</h1>
	<div>
		<ul>
			<li><a href="{{pathFor route='accueil'}}">Accueil</a></li>
			<li><a href="{{pathFor route='posts'}}">Posts</a></li>
			<li><a href="{{pathFor route='todo'}}">todo</a></li>
		</ul>
	</div>
	<div>
		{{> yield}}
	</div>
</template>
