<template name='posts'>
    <h1>Liste des posts</h1>

	{{#if isMode "display"}}
		<button class="newform">afficher le formulaire</button>
	{{/if}}

	{{#if isMode "update"}}
		<form id="form_update" role="form">
			<p><input type="text" name="title" value="{{form.title}}" placeholder="title"></p>
			<p><textarea name="content" rows="8" cols="40" placeholder="content">{{form.content}}</textarea></p>
			<p>
				<input type="hidden" name="id" value="{{form._id}}">
				<input type="submit" value="enregistrer">
				<input type="button" class="close" value="annuler">
			</p>
		</form>
	{{/if}}

	{{#if isMode "add"}}
		<form id="form_add" role="form">
			<p><input type="text" name="title" value="" placeholder="title"></p>
			<p><textarea name="content" rows="8" cols="40" placeholder="content"></textarea></p>
			<p>
				<input type="submit" value="enregistrer">
				<input type="button" class="close" value="annuler">
			</p>
		</form>
	{{/if}}

    {{#each postsAll}}
        {{> post}}
		<input type="button" class="delete" value="supprimer" data-id="{{_id}}">
		<input type="button" class="update" value="update" data-id="{{_id}}">
    {{/each}}
</template>
